<div class="top">

  <div class="nav">
    <a class="title">{{title}}</a>
    <a (click)="search()">Search</a>
    <a (click)="clear()">Clear</a>
  </div>

  <form [formGroup]="form" class="form" ngxsForm="users.form">
    <div class="form-control">
      <input type="text" name="name" formControlName="name" placeholder="name">
    </div>
    <div class="form-control">
      <input type="text" name="password" formControlName="password" placeholder="password">
    </div>
    <div class="form-control">
      <label>Active</label>
      <input type="checkbox" name="active" formControlName="active">
    </div>
    <div class="form-control bar">
      <button type="button" class="btn btn-delete" (click)="delete()">Del</button>
      <button type="button" class="btn btn-edit" (click)="edit()">Edit</button>
      <button type="button" class="btn btn-add" (click)="add()">Add</button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Active</th>
      </tr>
    </thead>
  </table>
</div>

<div class="center">
  <table>
    <tbody>
      <tr *ngFor="let e of entities$ | async" (click)="selectRow(e)" [className]="isSelectRow(e)">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.password}}</td>
        <td>{{e.active}}</td>
      </tr>
    </tbody>
  </table>
</div>
