<div class="center">

  <form *ngIf="isAdd" [formGroup]="form" class="form" ngxsForm="users.form">
    <div class="form-control">
      <input type="text" name="name" formControlName="name" placeholder="name">
    </div>
    <div class="form-control">
      <input type="text" name="password" formControlName="password" placeholder="password">
    </div>
    <div class="form-control">
      <label>Active</label>
      <input type="checkbox" name="active" formControlName="active">
    </div>
    <div class="btn-bar-control">
      <button type="button" class="btn-add" (click)="add()">Add</button>
      <button type="button" class="btn-cancel" (click)="cancel()">Cancel</button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
      let e of entities$ | async" (click)="selectRow(e)" [className]="getClassName(e)">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.password}}</td>
        <td>{{e.active}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="button-bar">
  <button (click)="edit()" *ngIf="isSelectEtntity$ | async">Edit</button>
  <button (click)="delete()" *ngIf="isSelectEtntity$ | async">Del</button>
  <button (click)="add()" *ngIf="!(isSelectEtntity$ | async) && !isAdd">Add</button>
  <button (click)="clear()">Clear Store</button>
  <button (click)="search()">Search</button>
</div>
