.table-header {
  display: flex;
  flex-direction: row;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table {
  width: 100%;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 4px !important;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  color: white;
  background-color: #f4d136;
}

th,
td {
  border-radius: 4px;
  padding: 10px;
  // width: calc(100vw/4);
}

th {
  text-align: left;
}

.btn.btn-delete {
  background-color: #f44336;
}

.btn.btn-add {
  background-color: #4CAF50;
}

.btn.btn-edit {
  background-color: #f4d136;
}

.selected {
  background-color: deepskyblue !important;
}


// .form {
//   display: flex;
//   flex-direction: row;
//   flex-flow: row wrap;
//   padding: 10px;
//   justify-content: space-around;
// }

// .form label {
//   padding: 10px;
//   color: #fff;
// }

// .bar {
//   border: 2px solid #fff;
// }
