<div class="center">

    <div class="btn-bar-control btn-bar-top" *ngIf="mode === 'list'">
        <button type="button" class="btn-add" (click)="add()">Add</button>
    </div>

    <form *ngIf="mode !== 'list'" [formGroup]="form" class="form" ngxsForm="users.form">
        <div class="form-control">
            <input type="text" name="name" formControlName="name" placeholder="name">
        </div>
        <div class="form-control">
            <input type="text" name="password" formControlName="password" placeholder="password">
        </div>
        <div class="form-control">
            <label>Active</label>
            <input type="checkbox" name="active" formControlName="active">
        </div>
        <div class="btn-bar-control">
            <button type="button" class="btn-save" (click)="save()">Save</button>
            <button type="button" class="btn-cancel" (click)="cancel()">Cancel</button>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of entities$ | async" (click)="selectRow(e)" [className]="getClassName(e)">
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.password}}</td>
                <td>{{e.active}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ul class="button-bar">
    <li><a (click)="search()">Search</a></li>
    <li><a (click)="clear()" *ngIf="(entities$ | async).length > 0">Clear</a></li>
    <li><a (click)="edit()" class="btn-edit" *ngIf="isSelectOneEntity$ | async">Edit</a></li>
    <li><a (click)="delete()" class="btn-delete" *ngIf="isSelectManyEntities$ | async">Del</a></li>
</ul>
