.table-header {
  display: flex;
  flex-direction: row;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table {
  width: 100%;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 4px !important;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  color: #000;
  background-color: #f4d136;
}

th,
td {
  border-radius: 4px;
  padding: 10px;
}

th {
  text-align: left;
}

.btn-bar-control {
  display: flex;
  flex-direction: row;
}

.btn-add:hover {
  background-color: #4CAF50;
  color: #000;
  font-weight: bold;
}

.btn-cancel:hover {
  background-color: #af4c4c;
  color: #000;
  font-weight: bold;
}

.btn-delete {
  background-color: #f44336;
}

.btn-edit {
  background-color: #f4d136;
}

.selected {
  background-color: deepskyblue !important;
}

.form {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 0 0 20px 0;
  justify-content: space-around;
}

.form label {
  padding: 10px;
  color: #fff;
}
