<!-- <form [formGroup]="form" class="form" ngxsForm="users.form">
  <div class="form-control">
    <input type="text" name="name" formControlName="name" placeholder="name">
  </div>
  <div class="form-control">
    <input type="text" name="password" formControlName="password" placeholder="password">
  </div>
  <div class="form-control">
    <label>Active</label>
    <input type="checkbox" name="active" formControlName="active">
  </div>
  <div class="form-control bar">
    <button type="button" class="btn btn-add" (click)="add()">Add</button>
  </div>
</form> -->

<div class="center">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
      let e of entities$ | async" (click)="selectRow(e)" [className]="getClassName(e)">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.password}}</td>
        <td>{{e.active}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="button-bar">
  <button (click)="clear()">Clear Store</button>
  <button (click)="edit()">Edit</button>
  <button (click)="delete()">Del</button>
  <button (click)="search()">Search</button>
</div>
