/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: Arial !important;
  font-size: 1em !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.form-control {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  vertical-align: middle;
}

input {
  padding: 10px;
  border-radius: 4px;
  height: 15px;
}

input[type=checkbox] {
  margin: 10px;
}

.center {
  overflow: auto;
  padding: 20px;
  background-color: #444;
  height: calc(100vh - 160px);
}

ul.button-bar {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 58px;
  border-top: 2px solid #000;
}

.button-bar li {
  float: right;
}

.button-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 18px;
  text-decoration: none;
}

button {
  text-decoration: none;
  border: none;
  text-align: center;
  color: #fff;
  background-color: #333;
  width: 120px;
}

.button-bar button:hover {
  background-color: #4CAF50;
  color: #000;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: 2px solid #000;
  height: 58px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 18px;
  text-decoration: none;
}

.button-bar li a:hover {
  background-color: deepskyblue;
  color: #000;
}

.navbar li a:hover:not(.title) {
  background-color: deepskyblue;
  color: #000;
}

.navbar .title {
  background-color: #111;
  padding: 21px 30px 21px 30px !important;
  color: deepskyblue !important;
}
