/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

app-page-not-found {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 600%;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

app-page-not-found button {
  margin: 100px;
  padding: 15px;
}
